[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process
[user]
	name = Andrew Cato
	email = andrewdcato@gmail.com
[push]
  default = matching
[core]
  editor = 'vim'
[diff]
	submodule = log
[submodule]
	recurse = true
