# OS garbage
.DS_Store

# State files
dot-config/aws
dot-config/gcloud
dot-config/lazygit/state.yml
dot-config/lazydocker/state.yml
dot-config/configstore

# Tmux Plugins
dot-config/tmux/plugins/*

# Ignore all in .ssh dir except for config files
dot-ssh/*
!dot-ssh/config
!dot-ssh/config.home

# Ignore all in .gemini dir except for settings file
dot-gemini/*
!dot-gemini/settings.json

# Ignore all log files
**/*.log

# Ignore yazi flavors
dot-config/yazi/flavors/catppuccin-mocha.yazi/*

# Ignore BTT logs
Library/Application Support/BetterTouchTool/Logs/*

