# OS garbage
.DS_Store

# State files
.config/lazygit/state.yml
.config/lazydocker/state.yml
.config/configstore

# Ignore all of OMZ except custom things
.oh-my-zsh/*
!.oh-my-zsh/custom/plugins/*
!.oh-my-zsh/custom/themes/*

# Ignore all in .ssh dir except for config files
.ssh
!.ssh/config
!.ssh/config_personal

# Ignore all log files
**/*.log

# Ignore yazi flavors
.config/yazi/flavors/catppuccin-mocha.yazi/*
